<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <a href="/" >Inicio</a>
    <table>
        <h1>Informacion agregada correctamente</h1>
        <!-- El elemento thead describe el area de encabezado en  la tabla -->
        <thead style="font-weight: bold;">
            <tr>
                <td>Días trabajados</td>
                <td>Años de servicio</td>
                <td>Indemnización</td>
                <td>Vacaciones</td>
                <td>Cesantías</td>
                <td>Intereses cesantías</td>
                <td>Prima</td>
                <td>Aguinaldo</td>
                <td>Total liquidación</td>
            </tr>
        </thead>

        <!-- El elemento tbody describe el cuerpo de la tabla -->
        <tbody>
            <tr>
                <td>{{liquidacion['Días trabajados']}}</td>
                <td>{{liquidacion['Años de servicio']}}</td>
                <td>{{liquidacion['Indemnización']}}</td>
                <td>{{liquidacion['Vacaciones']}}</td>
                <td>{{liquidacion['Cesantías']}}</td>
                <td>{{liquidacion['Intereses cesantías']}}</td>
                <td>{{liquidacion['Prima']}}</td>
                <td>{{liquidacion['Aguinaldo']}}</td>
                <td>{{liquidacion['Total liquidación']}}</td>
            </tr>
        </tbody>
        
    </table>
</body>

</html>