<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <a href="/" >Inicio</a>
    <form action="/confirmacion">

        <h1>Insertar informacion</h1>

        <p>Ingrese los valores correspondientes para calcular la liquidacion</p>

        <div>
            Salario base: <input type="text" name="salario_base" />
        </div>
        <div>
            Auxilio de transporte: <input type="text" name="aux_transporte" />
        </div>
        <div>
            Fecha de inicio: <input type="text" name="fecha_inicio" />
        </div>
        <div>
            Fecha de fin: <input type="text" name="fecha_fin" />
        </div>
        <div>
            Dias de vacaciones pendientes: <input type="text" name="dias_vacaciones_pend" />
        </div>
        <div>
            Dias de prima: <input type="text" name="dias_prima" />
        </div>
        <div>
            Dias de cesantias: <input type="text" name="dias_cesantias" />
        </div>
        <input type="submit" value="Buscar" />
    </form>
</body>

</html>