<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <p>
        Búsqueda de el id: {{ id }}
    </p>

    <!-- La etiqueta table se usa para crear tablas en HTML -->
    <table>
        <h1>Resultados de la Búsqueda</h1>
        <!-- El elemento thead describe el area de encabezado en  la tabla -->
        <thead style="font-weight: bold;">
            <tr>
                <td>Días trabajados</td>
                <td>Años de servicio</td>
                <td>Indemnización</td>
                <td>Vacaciones</td>
                <td>Cesantías</td>
                <td>Intereses cesantías</td>
                <td>Prima</td>
                <td>Aguinaldo</td>
                <td>Total liquidación</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{buscado.dias_trabajados}}</td>
                <td>{{buscado.anos_servicio}}</td>
                <td>{{buscado.indemnizacion}}</td>
                <td>{{buscado.vacaciones}}</td>
                <td>{{buscado.cesantias}}</td>
                <td>{{buscado.intereses_cesantias}}</td>
                <td>{{buscado.prima}}</td>
                <td>{{buscado.aguinaldo}}</td>
                <td>{{buscado.total_liquidacion}}</td>
            </tr>
        </tbody>

    </table>

    
    
    
</body>

</html>